@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Lato:wght@400;700&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');



.container {
    font-family: 'Press Start 2P', cursive;
    color: lime;
    font-size: 15px;
    text-align: center;
    
}
header .container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

header ul {
    height: 50%;
    display: flex;
    align-items: center;
    
}

header li {
    list-style: none;
    padding: 0 30px;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}

header .highlight, header #current a {
    color:gray;
    font-weight: bold;
}

header a:hover {
    color: #ccc;
    font-weight: bold;
}

/* About */
#calendar .background {
    position: fixed;
    top: 40.5%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 1024px;
    height: 100%;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('Drinkngame_background_cal_trans_lightbars.png') no-repeat;
    background-size: cover;
    transition: 1s opacity;
    opacity: 87%; 

}

#about {
    /* background-color: white; */
}

.container .main-col {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 20px;
    opacity: 100%;
    text-shadow: 0.3px 0.3px 0.3px #000;
}

#about .sidebar {
    margin-top: 10px;
}

#about div {
    color: burlywood;
    font-size: 40px;
    margin: 10px 0;
}

/* Calendar */
#calendar {
    padding: 20px;
}

/* CONTACT/SOCIAL MEDIA */
#contact {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    display: flexbox;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

#contact i {
    color:limegreen;
    font-size: 20px;
    margin:0 10px;
}

#contact p {
    font-size: 15px;
}

#social div i {
    color: limegreen;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 10px;
}

/* FOOTER */
.footer h2 {
    color: white;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    justify-content: space-evenly;
    align-items: center;
}

.footer {
    background-color: black;
    color: white;
    display: flex;
    column-count: 3;
    column-gap: 80px;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1.5px solid gray;
    margin-bottom: -80px;
    margin-right: -80px;
}




